@import url('https://fonts.googleapis.com/css?family=Raleway');

$transition: all .40s cubic-bezier(.3, -.5, .3, 1.3);
$transitionmex: all .25s cubic-bezier(.3, -.5, .3, 2);
$shadow: 0 10px 40px -14px rgba(0, 0, 0, 0.45);

$botbg: #fff; /*#ffc6b0;*/
$botcl: #000;

$userbg: #cc1b9d; /*#ade0ff*/
$usercl: #fff;
$userborder: 1px solid #d6d6d6;

$btnbg: #60428c;

body {
  background: #eff2fa;
  font-family: 'Raleway', sans-serif;
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}

#freud {
  padding: 0px;
  font-family: 'Raleway', sans-serif;
  max-width: 700px;
  margin: 0 auto;
  box-sizing: border-box;
  position: relative;

  &.chat {
    background: #fff;
    width: 300px;
    position: fixed;
    bottom: 0;
    right: 0;
    height: 400px;
    border: $userborder;
    overflow-x: hidden;
    overflow-y: scroll;
    .freud-icon {
      display: none;
    }
    .freud-quote {
      .freud-sentence {
        margin: 0 10px;
        max-width: 100%;
        .__r {
          .freud-btn {
            margin-bottom: 10px;
            padding: .5em .8em;
            width: 100%;
            text-align: center;
          }
        }
      }
    }
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .freud-icon {
    transition: $transition;
    position: absolute;
    width: 60px;
    height: 60px;
    border: 1px solid #ccc;
    border-radius: 100%;
    box-shadow: $shadow;
    overflow: hidden;
    & img {
      width: 100%;
    }
    &.__bot {
      background: #fff;
      top: 0;
      left: 0;
    }
    &.__user {
      opacity: 0;
      top: 0;
      right: 0;
    }
  }
  .freud-quote {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 20px 0;
    flex-direction: row-reverse;
    position: relative;

    &.__bot {
      flex-direction: row;
      .freud-sentence {
        justify-content: flex-start;
        .__elem {
          background: $botbg;
          color: $botcl;
          text-align: left
        }
        .__r {
          text-align: left;
          width: 100%;
        }
      }
    }

    .freud-sentence {
      order: 2;
      max-width: 70%;
      display: flex;
      align-items: flex-start;
      justify-content: flex-end;
      flex-direction: column;
      margin: 0 80px;
      .__r {
        transition: $transitionmex;
        transform: scale(0);
        max-width: 100%;
        margin-bottom: 10px;
        padding: 10px 0;
        text-align: right;
        * {
          max-width: 100%
        }
        .freud-btn {
          display: inline-block;
          text-decoration: none;
          padding: .6em 1.2em;
          font-size: 1em;
          font-weight: 700;
          border-radius: 3px;
          background-color: $btnbg;
          color: #fff;
          border: 0;
          margin-right: 10px;
          transition: all .25s ease-in-out;
          box-shadow: $shadow;
          &:hover {
            cursor: pointer;
            background-color: rgba(146, 3, 19, 0.95)
          }
          @media screen and (max-width: 400px) {
            margin-bottom: 10px;
          }
        }
        .freud-input {
          padding: 1em;
          border: $userborder;
          border-color: $userbg;
          position: relative;
          display: block;
          width: 100%;
          border-radius: 3px;
          transition: all .25s ease-in-out;
          box-shadow: $shadow;
        }
      }
      .__elem {
        box-shadow: $shadow;
        border: $userborder;
        transition: $transitionmex;
        transform: scale(0);
        max-width: 100%;
        background: $userbg;
        color: $usercl;
        margin-bottom: 10px;
        padding: 1em;
        border-radius: 15px;
        text-align: right;
        * {
          max-width: 100%;
          border-radius: 15px;
        }
      }
    }
  }
  @media screen and (max-width: 400px) {
    .freud-icon {
      width: 30px;
      height: 30px
    }
    .freud-quote {
      .freud-sentence {
        margin: 0 40px;
        max-width: 100%;
      }
    }
  }
}