@import url("https://fonts.googleapis.com/css?family=Raleway");
/*#ffc6b0;*/
/*#ade0ff*/
body {
  background: #eff2fa; }

#freud {
  padding: 0px;
  font-family: 'Raleway', sans-serif;
  max-width: 700px;
  margin: 0 auto;
  box-sizing: border-box;
  position: relative; }
  #freud.chat {
    background: #fff;
    width: 300px;
    position: fixed;
    bottom: 0;
    right: 0;
    height: 400px;
    border: 1px solid #d6d6d6;
    overflow-x: hidden;
    overflow-y: scroll; }
    #freud.chat .freud-icon {
      display: none; }
    #freud.chat .freud-quote .freud-sentence {
      margin: 0 10px;
      max-width: 100%; }
      #freud.chat .freud-quote .freud-sentence .__r .freud-btn {
        margin-bottom: 10px;
        padding: .5em .8em;
        width: 100%;
        text-align: center; }
  #freud * {
    margin: 0;
    padding: 0;
    box-sizing: border-box; }
  #freud .freud-icon {
    transition: all 0.4s cubic-bezier(0.3, -0.5, 0.3, 1.3);
    position: absolute;
    top: 1em;
    width: 60px;
    height: 60px;
    border: 1px solid #ccc;
    border-radius: 100%;
    box-shadow: 0 10px 40px -14px rgba(0, 0, 0, 0.45);
    overflow: hidden; }
    #freud .freud-icon img {
      width: 100%; }
    #freud .freud-icon.__bot {
      background: #fff;
      top: 0;
      left: 0; }
    #freud .freud-icon.__user {
      opacity: 0;
      top: 200px;
      right: 0; }
  #freud .freud-quote {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 20px 0;
    flex-direction: row-reverse;
    position: relative; }
    #freud .freud-quote.__bot {
      flex-direction: row; }
      #freud .freud-quote.__bot .freud-sentence {
        justify-content: flex-start; }
        #freud .freud-quote.__bot .freud-sentence .__elem {
          background: white;
          color: black;
          text-align: left; }
        #freud .freud-quote.__bot .freud-sentence .__r {
          text-align: left;
          width: 100%; }
    #freud .freud-quote .freud-sentence {
      order: 2;
      max-width: 70%;
      display: flex;
      align-items: flex-start;
      justify-content: flex-end;
      flex-direction: column;
      margin: 0 80px; }
      #freud .freud-quote .freud-sentence .__r {
        transition: all 0.25s cubic-bezier(0.3, -0.5, 0.3, 2);
        transform: scale(0);
        max-width: 100%;
        margin-bottom: 10px;
        padding: 10px 0;
        text-align: right; }
        #freud .freud-quote .freud-sentence .__r * {
          max-width: 100%; }
        #freud .freud-quote .freud-sentence .__r .freud-btn {
          display: inline-block;
          text-decoration: none;
          padding: 1em 3em;
          font-size: 1em;
          font-weight: bold;
          text-transform: uppercase;
          border-radius: 3px;
          background-color: #60428c;
          color: #fff;
          border: 0;
          margin-right: 10px;
          transition: all .25s ease-in-out;
          box-shadow: 0 10px 40px -14px rgba(0, 0, 0, 0.45); }
          #freud .freud-quote .freud-sentence .__r .freud-btn:hover {
            cursor: pointer;
            background-color: rgba(146, 3, 19, 0.95); }
          @media screen and (max-width: 400px) {
            #freud .freud-quote .freud-sentence .__r .freud-btn {
              margin-bottom: 10px; } }
        #freud .freud-quote .freud-sentence .__r .freud-input {
          padding: 1em;
          border: 1px solid #d6d6d6;
          border-color: #cc1b9d;
          position: relative;
          display: block;
          width: 100%;
          border-radius: 3px;
          transition: all .25s ease-in-out;
          box-shadow: 0 10px 40px -14px rgba(0, 0, 0, 0.45); }
      #freud .freud-quote .freud-sentence .__elem {
        box-shadow: 0 10px 40px -14px rgba(0, 0, 0, 0.45);
        border: 1px solid #d6d6d6;
        transition: all 0.25s cubic-bezier(0.3, -0.5, 0.3, 2);
        transform: scale(0);
        max-width: 100%;
        background: #cc1b9d;
        color: white;
        margin-bottom: 10px;
        padding: 1em;
        border-radius: 15px;
        text-align: right; }
        #freud .freud-quote .freud-sentence .__elem * {
          max-width: 100%;
          border-radius: 15px; }
